.heading {
  margin: 0 auto;
}
.option-container {
  width: 100%;
  font-family: 'bungee', cursive;
  font-size: 20px;

}
.option-container div {
  padding: 3px;
  margin: 20px;
  display: inline-block;
  max-width: 80%;
  background-color: rgba(30,30,30,.7);
  border: 3px solid oldlace;
  transition: 2s;

}

.option-container div span {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.option-container div:hover {
  background-color: rgba(221, 216, 58, .21);;
  transform: scale(1.05);
}

.navOut {
  position: absolute;
  right: 0px;
  animation: nav-out none 0.5s linear;
  animation-fill-mode: forwards;
}
.hireButton {
  animation: hire infinite 0.1s linear;
  box-shadow: 3px 3px px 0px rgba(255,255,0,0.6);
}
#balancer {
  animation: hire-balance infinite 0.1s linear;
}

.nav {
  transition: 1s;
}
