@keyframes name-plate {
  0% {

  }
  20% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    height:auto;
    background-color: rgba(255, 0, 0, 0);
  }
}

@keyframes name-text {
  from {

  }
  to {
    bottom: -100px;;
    left: 0%;
  }
}

@keyframes hire{
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hire-balance{
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes nav-out {
  to {
    right: -10000px;
  }
}
