@import  url('https://fonts.googleapis.com/css?family=Bungee|Delius+Unicase|Homemade+Apple|Oswald:700|Reenie+Beanie|Righteous');
@import "./animations.css";

body {
  background-color: #000;
  overflow-x: hidden;
}

.nametag {
  font-family: "Oswald", helvetica;
  font-size: 30px;
  color: white;
  position: fixed;
  text-align: left;
  animation: name-plate none 0.7s linear;
  animation-fill-mode: forwards;
  background-color: black;
  width: 100%;
  height: 100vh;
  animation-delay: 3s;
  z-index: 2;
  left: 0px;
  bottom: 0px;
}

.nametag h1 {
  color: #00ffe9;
  font-family: "Bungee";
}

.nametag div {
  animation: name-text none 0.35s linear;
  animation-fill-mode: forwards;
  display: inline-block;
  position: absolute;
  bottom: 60%;
  left: 40%;
  animation-delay: 1.5s;
  margin: auto;
}

.nametag span {
  display: block;
}
.App {
  text-align: center;
  font-family: "homemade apple", cursive;
  font-size: 60px;
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.bernerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: flex-start;
}

.content div {
  display: inline-block;
}
.instagram-media {
  display: inline-block;
}
